In [10]:
import pandas as pd
import csv
import os

'/Users/haiyanwang/Documents/Duke/Sophomore Year/Classes/Semester 1/CS330/NotUber'

In [17]:
passengers = pd.read_csv(os.path.dirname(os.getcwd()) + '/data/passengers.csv')
drivers = pd.read_csv(os.path.dirname(os.getcwd()) + '/data/drivers.csv')

In [18]:
drivers

               Date/Time  Source Lat  Source Lon
0    04/25/2014 00:14:00     40.6670    -73.8713
1    04/25/2014 00:21:00     40.6482    -73.7831
2    04/25/2014 00:31:00     40.7648    -73.9960
3    04/25/2014 00:37:00     40.7400    -73.9990
4    04/25/2014 00:44:00     40.7396    -74.0054
..                   ...         ...         ...
494  04/26/2014 23:30:00     40.6961    -73.9773
495  04/26/2014 23:33:00     40.6358    -73.5823
496  04/26/2014 23:46:00     40.7530    -73.6993
497  04/26/2014 23:58:00     40.7369    -73.9887
498  04/26/2014 23:59:00     40.7451    -74.0343

[499 rows x 3 columns]